/* Put your CSS here */
html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  position:relative;
  display: table;
  overflow:hidden;
}
body > div {
  display:table-row;
}
ul {
  padding:0;
  margin:0;
  background-color:blue;
  
}
li {
  list-style-type:none;
  font-family: 'Open Sans', sans-serif;
  font-size:1em;
  color:white;
  letter-spacing:0.1em;
  padding:10px;
}
h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 2.5em;
  color:white;
  margin:0;
  letter-spacing:0.1em;
  padding: 8px 0 0 20px;
  display:inline-block;
}
.menu-button {
  float:right;
  display:inline-block;
  padding: 23px 20px 0 0;
}
.header {
  width:100%;
  background-color:#4A3A47 ;
/*   border-bottom: 2px solid gray; */
  position:absolute;
  height: 65px;
  clear:both;
}
#map {
  top:65px;
  float:right;
  width:100%;
  height:100%;
  position:absolute;
}
#menu {
  border-right: 2px solid gray;
  width: 225px;
  height:auto;
  float:left;
  position:absolute;
  top:63px;
  bottom:0px;
  clear:both;
  overflow-y:scroll;
  margin-top:2px;
  background-color:white;
}

.footer {
  width:100%;
  height:30px;
  background-color: blue;
  position:absolute;
  bottom:0;
}
