/* Empty. Add your own CSS if you like */

@import url(http://fonts.googleapis.com/css?family=Rajdhani:300,400);

html {
	font-family: 'Rajdhani', sans-serif;
}

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

.header {
	width: 96%;
	height: 9%;
	margin: 7% 2% 0% 2%;
	background-color: white;
	position: absolute;
	z-index: 1;
    box-shadow:0px 0px 10px 2px #ABABAB;
 	-webkit-box-shadow:0px 0px 10px 2px #ABABAB;
 	-moz-box-shadow:0px 0px 20px 2px #ABABAB;
}

.header-col {
	text-align: center;
}

.row1 {
	height: 100%;
}

.header-icon {
	font-size: 10vw;
}

.main-status {
	font-size: 6vw;
	margin-top: 5%;
}

.start-button {
	position: absolute;
	bottom: 0;
	margin-bottom: 0px !important;
}

.location-btn {
	width: 70px;
	height: 70px;
	position: absolute;
	bottom: 10%;
	right: 5%;
	background-color: #13BE00;
	border-radius: 50%;
	text-align: center;
	padding: 19px 5px 0px 0px;
	box-shadow:0px 0px 10px 4px #ABABAB;
 	-webkit-box-shadow:0px 0px 10px 4px #ABABAB;
 	-moz-box-shadow:0px 0px 20px 4px #ABABAB;
 	transition: background-color 0.5s ease;
}

.location-dot {
	width: 17px;
	height: 17px;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid #FFF;
	background-color: blue;
	border-radius: 50%;
	text-align: center;
	box-shadow:0px 0px 10px 4px #ABABAB;
 	-webkit-box-shadow:0px 0px 10px 4px #ABABAB;
 	-moz-box-shadow:0px 0px 20px 4px #ABABAB;

}

.ion-navigate {
	color: white;
}

.settings-modal {
	width: 100%;
	height: 50%;
	background-color: white;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.no-padding {
	padding: 0;
}